
        <style>
              .header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
          </style>
        
      <div class="header">
                    <h2>Admin Home</h2>
                    
                    <a href="/listuser">View Users</a>
                     <a href="/listrest">View Restaurants</a>
                      <a href="/listproducts">View Products</a>
                      
                    
                    
                    
                    
                        </div>
        
  